{% load static %}

<div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
    <div class="about_info">
        <div class="section_title mb-20px" style="margin-top: 8px">
            <span>Sizin İçin Seçimlerimiz</span>
            <h3> Tek Tıkla Kapında</h3>
        </div>
    </div>
</div>

<!-- Aşağısı kalıcak-->
<div class="Burger_President_area">

    <div class="Burger_President_here">
        {% for rs in dayproducts %}
            <div class="single_Burger_President">
                <div class="room_thumb">
                    <img src="{{  rs.image.url }}" alt="">
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                            <span>{{ rs.price }}₺</span>
                            <h3>{{ rs.title }}</h3>
                            <p>{{ rs.description }}</p>
                            <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="boxed-btn3">Sipariş ver</a>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- Yukarısı kalıcak -->




