{% load static %}

<!-- header-start -->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-5">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="/home">Anasayfa</a></li>
                                    <li><a href="#">Restoran <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            {% load mptt_tags %}
                                            <ul>
                                                {% recursetree category %}
                                                    <li class="submenu">
                                                    <li><a class="dropdown-toggle" {% if not node.is_leaf_node %}
                                                           data-toggle="dropdown"
                                                           aria-expanded="true" {% endif %}
                                                           href="/category/{{ node.id }}/{{ node.slug }}"> {{ node.title }}</a>
                                                        {% if not node.is_leaf_node %}
                                                            <ul class="dropdown-menu pull-menu-right">
                                                                <li>
                                                                    <a href="/category/{{ node.slug }}">{{ children }}</a>
                                                                </li>
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                    </li>
                                                {% endrecursetree %}
                                            </ul>
                                        </ul>
                                    </li>
                                    <li><a href="#">Üyelik <img src="{{ request.user.profile.image.url }}"></a>
                                        <ul class="submenu">
                                            {% if user.id is not None %}
                                                <li><a href="/user">{{ user.first_name }}</a></li>
                                                <li><a href="/user/orders"> Siparişlerim </a></li>
                                                <li><a href="/user/comments"> Yorumlarım </a></li>
                                                <li><a href="/logout/"> Çıkış Yap </a></li>
                                            {% else %}
                                                <li><a href="/login/">Giriş Yap</a></li>
                                                <li><a href="/signup/">Üye Ol</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <script>
                        $(function () {
                            $("#query").autocomplete({
                                source: "/search_auto/",
                                select: function (event, ui) { //item selected
                                    AutoCompleteSelectHandler(event, ui)
                                },
                                minLength: 2,
                            });
                        });

                        function AutoCompleteSelectHandler(event, ui) {
                            var selectedObj = ui.item;
                        }
                    </script>
                    <!----Search -->
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="/search/" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input id="query" name="query" type="text" class="form-control"
                                                   placeholder="Ara ki Bulasın">
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">Hemen
                                        Ara
                                    </button>
                                </form>
                            </aside>
                        </div>
                    </div>
                    <!----/Search -->
                    <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                        <div class="book_room">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul>
                                        <li>
                                            <div class="shopping-item">
                                                <a href="/shopcart/"><span class="cart-amunt"></span> <i
                                                        class="fa fa-shopping-cart"></i> <span
                                                        class="product-count">{{ request.session.cart_items }}</span></a>
                                            </div>
                                        </li>
                                        <li><a href="/hakkimizda">Hakkımızda</a></li>
                                        <li><a href="/referanslarimiz">Referanslar </a></li>
                                        <li><a href="/iletisim">İletişim</a></li>
                                        <li><a href="/sss">SSS</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->