{% load static %}

<!-- header-start -->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-5 col-lg-5">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="index.html">Anasayfa</a></li>
                                    <li><a href="Menu.html">Menü</a></li>

                                    <li><a href="#">Restoran <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="Menu.html">Burger King</a></li>
                                            <li><a href="Menu.html">Menü</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="index.html">
                                <img src="{% static 'img/logo.png'%}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                        <div class="book_room">
                            <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                                    <li><a href="/referanslarimiz">Referanslar </a></li>
                                    <li><a href="/iletisim">İletişim</a></li>
                                </ul>
                            </nav>
                            </div>

                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->