{% extends "homebase.html" %}

{% block title %} {{ categorydata.title }} Products {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }}{% endblock %}


{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block content %}
    <!-- about_area_start -->
    {% for rs in products %}


        <div class="Burger_President_area">
            <div class="Burger_President_here">
                <div class="single_Burger_President">
                    <div class="room_thumb">
                        <img src="{{ rs.image.url }}" alt="">
                        <div class="room_heading d-flex justify-content-between align-items-center">
                            <div class="room_heading_inner">
                                <span>{{ rs.price }}₺</span>
                                <h3>{{ rs.title }}</h3>
                                <p>{{ rs.description }}</p>
                                <a href="/product/{{ rs.id }}/{{ rs.slug }}" class="boxed-btn3">Sipariş Et</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>









    {% endfor %}


    <!-- about_area_end -->
{% endblock %}