{% extends "homebase.html" %}

{% block title %} {{ product.title }}  {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}
{% block description %} {{ product.description }}{% endblock %}


{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block content %}
    <!-- about_area_start -->
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">

                        <div class="tab-pane active" id="pic-1"><img src="{{ product.image.url }}"></div>

                        {% for rs in images %}
                            <div class="tab-pane" id="pic-2"><img src="{{ rs.image.url }}"></div>
                        {% endfor %}
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        {% for rs in images %}
                            <li class="active"><a href="{{ rs.image.url }}" class="img-pop-up" data-target="#pic-1" data-toggle="tab"><img src="{{ rs.image.url }}"></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{ product.title }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                    <h4 class="price">Fiyat: <span>{{ product.price }}₺</span></h4>
                    <form action="/order/addtocart/{{ product.id }}" method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            <label class="control-label"><span>Alacağınız Adet:</span></label>
                            <input type="number" name="quantity" class="span6" min="0" value="1" placeholder="Qty"
                                   max="{{ product.amount }}">
                            <div class="action">
                                <button class="add-to-cart btn btn-default" type="submit">Sepete Ekle</button>
                                <a href="/order/addtocart/{{ rs.id }}" class="primary-btn add-to-cart"><i
                                        class="fa fa-shopping-cart"></i> </a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="comments-area">
        <h4>Son Yorumlar</h4>

        {% for rs in comments %}
            <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                    <div class="user justify-content-between d-flex">
                        <div class="thumb">
                            <img src="img/comment/comment_1.png" alt="">
                        </div>
                        <div class="desc">
                            <p class="comment">
                                {{ rs.comment }}
                            </p>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <h5>
                                        <a href="#">{{ rs.user.first_name }}</a>
                                    </h5>
                                    <p class="date">{{ rs.create_at }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="comment-form">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert- {{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="about_area">
            <h4>YORUM YAPIN</h4>
            <div class="comment-form" style="margin-left: 10px">
                <form action="/product/addcomment/{{ product.id }}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="input" type="text" name="subject" id="id_subject" placeholder="Konu"/>
                            </div> <!-- end .form-group -->
                        </div> <!-- end .col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">

                            </div> <!-- end .form-group -->
                        </div> <!-- end .col-sm-6 -->
                    </div> <!-- end .row -->
                    <div class="form-group">
                        <textarea class="input" name="comment" id="id_comment" required
                                  placeholder="Mesajınız"></textarea>
                    </div> <!-- end .form-group -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if user.id is not None %}
                        <input type="submit" value="Gönder" class="button solid light-blue"/>
                    {% else %}
                        Yorum eklemek için <a href="/login"> Üye Olunuz!</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>


    <!-- about_area_end -->




{% endblock %}