<aside class="single_sidebar_widget post_category_widget">
    <ul class="list cat-list">
        <li>
            <a href="/user" class="d-flex">
                <p><b>Üye Profili</b></p>
            </a>
        </li>
        <li>
            <a href="/user/orders" class="d-flex">
                <p><b>Siparişlerim</b></p>
            </a>
        </li>
        <li>
            <a href="/user/comments" class="d-flex">
                <p><b>Yorumlarım</b></p>
            </a>
        </li>
        <li>
            <a href="/user/favorits" class="d-flex">
                <p><b>Favorilerim</b></p>
            </a>
        </li>
        <li>
            <a href="/logout" class="d-flex">
                <p><b>Çıkış Yap</b></p>
            </a>
        </li>
    </ul>
</aside>

