{% extends "homebase.html" %}

{% block title %} Shop Cart {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }}{% endblock %}


{% block head %}

    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block content %}
    <!-- about_area_start -->


<div class="about_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-5 offset-lg-1 col-md-6">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>Sayın {{ user.first_name }} {{ user.last_name }}</span>
                            <h3>Siparişiniz <br>
                                    Tamamlanmıştır</h3>
                           <b>Sipariş kodunuz : {{ ordercode }}</b>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->
{% endblock %}